/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    z-index: 5;
    background-color: transparent;
}

.navs {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}

section.navbar{
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 75vh; */
    position: relative;
    z-index: 0;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.navbar{
    background-image: url(./images/fond-test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.navbar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(10px); 
    z-index: -2;
}


.section-header .bloc1{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.section-header .bloc1 .logo{
    padding: 0 0 0 0;
}

.section-header .bloc1 p{
    color: white;
    font-size: 5rem;
    text-align: left;
}

.section-header .bloc2{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloc1 p{
    font-size: 1.2rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    padding-top: 125px;
}
.section-header .bloc2 button{
    padding: 15px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}
.contactez-nous {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;;
}

.section-header img{
    float: right;
    padding-right: 125px;
}
/* ------------------- */
.activites {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.activite {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

.activite img {
    max-width: 100%;
    height:9vw;
}

.activite p {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;    
}

p.phrase{
    margin: 80px;
    color: rgb(102, 101, 102);
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}


section {
    text-align: center;
}

.Poles {
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

.poles-activites {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ------------------ */
.carte {
    width: 400px;
    height: min-content;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 2px solid rgb(232, 232, 232);
}

.carte img {
    padding-top: 10px;
}

.carte h1{
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

.carte p{
    padding: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(102, 101, 102);
}

.carte .boutons{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.carte .boutons a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: black;
}

.carte .boutons button{
    margin: 15px;
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* ------------------- */
.img-txt {
    text-align: center;
}

.container-img-txt {
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.partie-1 {
    display: flex;
    align-items: center;
}

.gauche {
    margin-right: 20px;
    margin-left: 0;
}

.droite {
    text-align: left;   
}

.droite p {
    padding-left: 10px;
    padding-bottom: 25px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: rgb(102, 101, 102);
    font-size: 1.1rem;
}

.partie-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-right: 150px;
  }
  
  .gauche-inverse {
    flex-grow: 1;
    margin-right: 20px;
    text-align: right;  
  }

.gauche-inverse p{
    padding-right: 30px;
    padding-bottom: 25px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: rgb(102, 101, 102);
    font-size: 1.1rem;
}
.partie-1 .gauche img,.partie-2 .droite-inverse img {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
/* ----------------- */
.contact2{
    padding-top: 80px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: rgb(102, 101, 102);
    font-size: 1.5rem;
    line-height: 40px;
}

.contact2 button{
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.contact2 button a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

/* ------------------------- */
.section-aide-alerte{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.titre-aide-alerte{
    display: flex;
    align-items: center;
}

.box-gauche{
    margin-left: 100px;
    margin-top: 50px;
    width: 50%;
}

.box-droite{
    margin-left: 100px;
    margin-top: 50px;
    width: 50%;
}

.texte{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: rgb(102, 101, 102);
    font-size: 1.1rem;
    text-align: left;
}

.texte p {
    padding-bottom: 20px;
}
h3{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}
/* ------------------------------- */

.equipement {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.equipement::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./images/equipement.png");
    background-position: bottom;
    margin-bottom: 90px;
    background-repeat: no-repeat;
    background-size: 700px;
    opacity: 0.3;
    z-index: -20;
}
.equipement{
    background-color: #ffffff;
    z-index: -2;
}
section.presentation img{
    padding-right: 5px;
    padding-bottom: 5px;
}
section.presentation h1{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #000;
    padding-top: 50px;
    padding-bottom: 30px;
    z-index: 10;
}
section.presentation p{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: rgb(102, 101, 102);
    font-size: 1.1rem;
    text-align: left;
    width: 65%;
    padding-bottom: 20px;
}

/* ------------ */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
  }
  
.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex: 0 0 50%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-dots {
    bottom: 20px; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-dot {
    width: 12px;
    height: 12px;
    background-color: rgb(58, 58, 58);
    border-radius: 50%;
    margin: 20px 6px;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: #bdbdbd;
}

.carousel p{
    margin: 20px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: rgb(102, 101, 102);
    font-size: 1.1rem;
}

.container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.charte-qualite {
    padding: 15px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
}

.charte-qualite a{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    color: #000;
}
/* ---------------- */
section.zone-intervention{
    background-color: #E2E0E1;
}

.container-zone-inter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

.container-zone-inter h1{
    font-family: 'Mulish', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #202020;
    padding-left: 100px;
    text-align: left;

}
/* ---------------------------------------------------- */
.valeurs {
    position: relative;
}
  
.valeurs-fond {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}

.container-valeurs {
position: relative;
z-index: 1;
}

.container-valeurs h1 {
text-align: center;
color: white;
}

.background-image {
    background-image: url("./images/valeurs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(10px); 
}

.container-valeurs h1{
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 20px;
}

.ligne {
    padding: 50px 50px 5px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligne p {
    margin: 0;
    padding: 0 10vw;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #fff;
}

.espace{
    padding-bottom: 100px;
}

/* ----------- */

.container-contact{
    display: flex;
    
    padding-top: 20px;
}

.gauche-form{
    width: 50%;
    padding-left: 20vw;
}

.droite-form{
    text-align: left;
    width: 50%;
    padding-left: 20px;
    padding: 0 0 0 30px;
}
.nous-contacter{
    padding-bottom: 50px;
}
.nous-contacter h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #000;
}

.formulaire-contact {
    display: flex;
    flex-direction: column;
  }
.formulaire-contact input{
    width: 29vw;
    padding: 10px;
}  

.formulaire-contact textarea{
    height: 120px;
    width: 29vw;
    padding: 10px;
}

.formulaire-contact input,.formulaire-contact textarea {
    margin-bottom: 30px;
    background-color: #EAEAEA;
    border: none;
}

.formulaire-contact input, .formulaire-contact textarea{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

.container-button-form{
    display: flex;
    justify-content: center;
}
.container-button-form button{
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

.droite-form p{
    margin: 0;
    padding-bottom: 10px;
    padding-left: 1px;
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

/* ------------------ */

.container-footer{
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    height: 100px;
}

.container-footer h1{
    padding-top: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.container-footer span a{
    text-decoration: none;
    color: #000;
}

/* HOVER EFFECTS */
.contactez-nous:hover{
    opacity: 0.8;
    transform: translateY(-5px);
    box-shadow: none;
}
button, .carte{
    transition: margin-top 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
button:hover{
    cursor: pointer;
    margin-top: -5px;
    box-shadow: 0px 5px 5px 5px #e7e7e7;
}

.envoyer:hover{
    margin-top: 0;
}

.carte:hover{
    box-shadow: 0px 5px 5px 5px #e7e7e7;
    margin-top: 1px;
}

/* ------------- */
.modal,.modal2,.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    text-align: center;

    border: 2px solid green;
}

.modal-content p{
    text-align: left;
}

.modal-content h2{
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.close,.close2,.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close,.close2,.close3:hover,
.close,.close2,.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}